@charset "utf-8";
$white : #fff;
$gray : #ccc;
$green : #47d6c4;
section{
    flex-grow: 1;
    .welcome{
        display: flex;
        padding: 0 2.5rem;
        .left{
            float: left;
            .icon-a4{
                font-size: 6rem;
                color: #ddd;
                position: relative;
                .icon-shangchuandaoyun{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -1rem;
                    margin-top: -1rem;
                    font-size: 2rem;
                    color: $green;
                }
            }
        }
        .right{
            width: 16rem;
            float: left;
            padding: 1rem;
            color: #999;
            p:nth-of-type(1){
                line-height: 1.5rem;
                color: #333;
            }
        }
    }
    > p{
        padding:0 1rem;
        line-height: 5rem;
        color: #8c8c8c;
        a{
            color: #88b7d0;
        }
    }
    > p:nth-of-type(2),> p:nth-of-type(3){
        text-align: center;
        
    }
}
