@charset "utf-8";
header{
    height: 15.128rem!important;
}
.form{
    width: 21.88rem;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-flow:column;
    position: relative;
    @mixin aa(){
        display: block;
        width: 17.83rem;
        height:3.84rem;
        font-size: 1.28rem;
        opacity: 0.21;
        border: 0;
        border-radius: 3px;
        box-shadow: 6px 6px 3px;
        padding-left: 4.05rem;
    }
    @mixin icon(){
        position: absolute;
        left:5px;
        line-height: 3.84rem;
        font-size: 1.792rem!important;
        color: #ccc;
    }
    .user{
        margin-top: 2rem;
    }
    .user .icon-dengludengluming36x40{
        top:2rem;
        @include icon(); 
    }
    .pwd .icon-suo{
        top:7.84rem;
        @include icon();
    }
    #user,#pwd{
        @include aa(); 
        &::-webkit-input-placeholder {
             color: #666;             
         }                 
    }
    #pwd{
       margin-top: 2rem; 
    }
    .text-btn{
        width: 21.88rem;
        height:3.24rem;
        margin: 0 auto;
        font-size: 1.19rem;
        text-align: right;
        line-height: 3.34rem;
        color: #fff;
        >a{
            color: #fff;
        }
    }
    #btn{
        display: block;
        width: 21.88rem;
        height:3.84rem;
        margin: 0 auto;
        font-size: 1.45rem;
        opacity: 0.75;
        border: 0;
        border-radius: 3px;
        box-shadow: 6px 6px 10px #000;
        background: #48d6c5;
        color: #fff;            
    }       
}     


